	<!-- Modal -->
	{{#each artist}}
	<div class="modal fade" id="artistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="artistModalTitle">{{this.name_first}} {{this.name_last}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{{/each}}

	<!-- Modal -->
	
	<div class="modal fade" id="artistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="artistModalTitle">Enter New Artist</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	

<!-- ==========================================================================================	 -->
	<div id="main-container" class="container">
		<div class="row">
			
			<div id="search-bar" class="col-lg-6">
				<!-- <h6>View Existing Artist</h6> -->
			    <div class="input-group">
			      
			      <input id="ref-input" type="text" class="form-control" placeholder="Search by Artist Number" aria-label="Search">

			      <span class="input-group-btn">
			        <button id="ref-enter-button" class="btn btn-secondary" type="button">Go!</button>
			      </span>
			    </div>
			</div>

			<div id="add-new-artist" class="col-lg-6 text-right">
				<button type="button" class="btn btn-danger btn-block" method
				 data-toggle="modal" data-target="#artistModal">ADD NEW ARTIST</button>
			</div>
		</div>	
		<hr>
	
<!-- =============================================================================================== -->
		<div class="row"> 
			{{#each artist}}
				<div class="col-lg-4">
				
					<div id="artist-profile" class="card">
						<div class="text-center">
							<img class="card-img-top" src="/assets/images/profile-background4.jpg" alt="Card image cap">
							<div class="card-body">
							  	<img id="profile-pic" src="/assets/images/profile-pic.png" alt="..." class="rounded-circle img-thumbnail" width="140px">
									<h4 id="artist-card-title">{{this.name_first}} {{this.name_last}}</h4>
										
									<!-- <hr> -->
									<ul class="list-group list-group-flush">
									    <li class="list-group-item text-left">Artist Number: {{artist_reference_number}}</li>
									    <li class="list-group-item text-left">Item Count: </li>
									</ul>
								<button type="button" id="artist-login" class="btn btn-warning btn-lg btn-block" data-id="{{id}}" data-toggle="modal" data-target="#artistModal">Full Profile</button>
						  	</div>
						</div>
					</div>
				</div>
			{{/each}}

			<!-- <div class="col-lg-1"></div> -->
			<div class="col-lg-8">
				<div class="card" id="items-list">
					<div class="card-header bg-dark text-white"><h3>Items</h3></div>
					<div class="card-body">
						<div class="text-right"><i id="list-view" class="fa fa-list fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i id="grid-view" class="fa fa-th fa-2x" aria-hidden="true"></i></div>
						<div class="row"> 
							{{#each artist}}
								<div id="artist-item" class="col-lg-4">
								    <div class="card">
								      <div class="card-header text-info text-right"><h5>Price</h5></div>
								      <div class="card-body">
								        <h5 class="card-title">Item Name</h5>
								        <h6 class="card-subtitle mb-2 text-muted">Quantity: </h6>
								        <br>
								        <button type="button" class="btn btn-block btn-sm" data-toggle="modal" data-target="#artistModal">Details</button>
								      </div>
								    </div>
								</div>
							{{/each}}
			
						</div>
					</div>
				</div>
  			</div>
		</div>
	</div>
<!-- 
<script type="text/javascript">
	window.onload = function() {
	$("#items-list").hide();
	};

</script> -->