	<div id="main-container" class="container">
		<div class="row">
			
			<div id="search-bar" class="col-lg-6">
				<!-- <h6>View Existing Artist</h6> -->
			    <div class="input-group">
			      <input type="text" class="form-control" id="num-input" placeholder="Search by Artist Number" aria-label="Search">
			      <span class="input-group-btn">
			        <button id="text-enter-button" class="btn btn-secondary" type="button">Go!</button>
			      </span>
			    </div>
			</div>

			<div id="show-all-items" class="col-lg-6 text-right">
				<button type="button" id="all-items-btn" class="btn btn-danger btn-block" href="/catalog/all-items">SHOW ALL ITEMS</button>
			</div>
		</div>	
		<hr>
	
<!-- =============================================================================================== -->
		<div class="row"> 
			<div class="col-lg-12">
				<div id="catalog" class="card">
					<div class="card-header bg-dark text-white"><h3>Catalog</h3></div>
					<div class="card-body">
						<table class="table table-striped">
							<thead class="thead-dark">
							    <tr>
							      <th scope="col">ID</th>
							      <th scope="col">Title</th>
							      <th scope="col">Description</th>
							      <th scope="col">Quantity</th>
							      <th scope="col">Retail Price</th>
							      <th scope="col">Last Updated</th>
							      <th scope="col">Status</th>
							    </tr>
							</thead>
							<tbody>
							    {{#each item}}
								    <tr>
								      <td>{{this.item_reference_number}}</td>
								      <td>{{this.title}}</td>
								      <td>{{this.description}}</td>
								      <td>{{this.quantity}}</td>
								      <td>{{this.retail_price}}</td>
								      <td>{{this.updatedAt}}</td>
								      <td>{{this.status}}</td>
								    </tr>
								{{/each}}
							   </tbody>
						</table>

					</div>
				</div>
  			</div>
		</div>
			
			


		</div>