	
	<!-- Modal -->
	{{#if item}}
	<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="editItemTitle">{{this.title}} <br><small>{{this.item_reference_number}}</small></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{{/if}}

<!-- =============================================================================== -->


	<div id="main-container" class="container">
		<div class="row">
			
			<div id="search-bar" class="col-lg-6">
				<!-- <h6>View Existing Artist</h6> -->
			    <form action="/catalog/item/by-artist/" method="GET">
				    <div class="input-group">

				      <input id="num-input" type="text" class="form-control" name="artist_reference_number" value="{{this.item.id}}" placeholder="Search by Artist Number" aria-label="Search">

				      <span class="input-group-btn">
				        <button id="text-enter-button" class="btn btn-secondary" type="submit">Go!</button>
				      </span>
				    </div>
				</form>
			</div>
			
			 
				<div id="show-all-items" class="col-lg-3 text-right">
					<button action="/catalog/all-items" method="GET" type="button" class="btn btn-danger btn-block">SHOW ALL ITEMS</button>
				</div>
				<div id="show-all-items" class="col-lg-3 text-right">
					<button action="/catalog/all-items" method="GET" type="button" class="btn btn-dark btn-block">SHOW ARCHIVED ITEMS</button>
				</div>
			 
		</div>	
		<hr>
	
<!-- =============================================================================================== -->
		<div class="row"> 
			<div class="col-lg-12">
				<div id="catalog" class="card">
					<div class="card-header bg-dark text-white"><h3>Catalog</h3></div>
					<div class="card-body">
						<table class="table table-striped">
							<thead class="thead-dark text-center">
							    <tr>
							      <th scope="col">ID</th>
							      <th scope="col">Title</th>
							      <th scope="col">Description</th>
							      <th scope="col">Quantity</th>
							      <th scope="col">Retail Price</th>
							      <th scope="col">Last Updated</th>
							      <th scope="col">Status</th>
							      <th scope="col">Edit</th>
							    </tr>
							</thead>
							<tbody>
							    {{#each item}}
								    <tr id="table-rows">
								      <td>{{this.item_reference_number}}</td>
								      <td>{{this.title}}</td>
								      <td>{{this.description}}</td>
								      <td>{{this.quantity}}</td>
								      <td>{{this.retail_price}}</td>
								      <td>{{this.updatedAt}}</td>
								      <td>{{this.status}}</td>
								      <td> <button button type="button" id="itemEdit" class="btn btn-info btn-block" data-id="{{id}}" data-toggle="modal" data-target="#editItemModal">Edit</button>
								      <button button type="button" id="itemDelete" class="btn btn-dark btn-block" data-id="{{id}}">Archive</button>
								      </td>
								    </tr>
								{{/each}}
							   </tbody>
						</table>

					</div>
				</div>
  			</div>
		</div>
	</div>
